@import "../../vars.css";

/* Estilos padrão para dispositivos móveis (até 600px) */

.container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 32px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(225, 225, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 1.25rem;
    text-align: center;
    font-family: var(--font-roboto);
    margin-bottom: 48px;
}

.buttonsHero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    font-size: 1.25rem;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-weight: 600;
    padding: 16px 24px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.contactBtn:hover {
    transform: translateY(-5px);
}

.contactBtn img {
    width: 35px;
}

.heroImg {
    width: 350px;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    padding: 40px;

    border-radius: 100%;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.topBlur {
    position: absolute;
    width: 100%;
    max-width: 960px;
    height: 350px;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10px;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 100%;
    max-width: 1340px;
    height: 295px;
    min-width: 350px;
    min-height: 250px;
    top: 150px;
    left: calc(100% - 75%);
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media (min-width: 601px) {

    .buttonsHero {
        flex-direction: row;
    }
}

@media (min-width: 800px) {

    .container {
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        align-items: flex-start;
    }

    .heroImg {
        width: 45%;
    }

    .description {
        text-align: start;
    }

    .contactBtn {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {

    .container {
        margin-top: 60px;
    }

    .title {
        font-size: 3.5rem;
    }

    .description {
        font-size: 1.75rem;
    }

    .contactBtn {
        font-size: 1.5rem;
    }

    .heroImg {
        width: 428px;
    }
}